* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* task-1 */

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.item {
  list-style: none;
}

.list-categories {
  list-style: none;
  padding: 0;
}

.item-categories {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 8px;
}

/* task-2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
}

.gallery img {
  height: 300px;
  width: 360px;
}

/* task-3 */

.input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.title-part {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-4 */

.form-input {
  display: flex;
  padding-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:active {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.label-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.btn-form:hover {
  background: #6c8cff;
}

.btn-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  padding: 8px 16px;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* task-4 */

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  border: none;
}
